<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ModeloDatos.Properties.Settings.UNA_SALUDConnectionString"
            connectionString="Data Source=DANEL-PC;Initial Catalog=ProyectoFundaWeb;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="ModeloDatos.Properties.Settings.UNA_SALUDConnectionString1"
            connectionString="Data Source=USER\SQLEXPRESS;Initial Catalog=UNA-SALUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ModeloDatos.Properties.Settings.UNASALUDConnectionString"
            connectionString="Data Source=PABLO\SQLEXPRESS;Initial Catalog=UNASALUD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  </configuration>


